<button
  type="button"
  class="btn btn-primary"
  (click)="openModalWithComponent()"
  elementFocus
  >
    Create modal with component
</button>

<button
  type="button"
  class="btn btn-primary"
  (click)="openModalWithComponent()"
  elementFocus
  >
    Create modal with component
</button>

<button
  type="button"
  class="btn btn-primary"
  (click)="openModalWithComponent()"
  elementFocus
  >
    Create modal with component
</button>

<button
  type="button"
  class="btn btn-primary"
  (click)="openModalWithComponent()"
  elementFocus
  >
    Create modal with component
</button>
